<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC4A5kr2ZUmlYxpTn7wonUn2aFWpTkO1o</string>
	<key>GCM_SENDER_ID</key>
	<string>45679077994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nbcApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nbc-app-5b29a</string>
	<key>STORAGE_BUCKET</key>
	<string>nbc-app-5b29a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45679077994:ios:e119e5a64c3bcdd726b813</string>
</dict>
</plist>